body{

font-family:Inter;
margin:0;
background:#0a0a0b;
color:white;

}

.hidden{
display:none;
}

nav{

width:220px;
background:#161618;
height:100vh;
position:fixed;

}

nav h2{
padding:20px;
}

nav ul{

list-style:none;
padding:0;

}

nav li{

padding:15px;
cursor:pointer;

}

main{

margin-left:220px;
padding:30px;

}

.card{

background:#161618;
padding:20px;
border-radius:10px;

}

.stats{

display:flex;
gap:20px;

}

button{

background:#10b981;
border:none;
padding:10px 15px;
border-radius:8px;
color:white;
cursor:pointer;

}

input,textarea,select{

width:100%;
margin:10px 0;
padding:10px;
background:#111;
border:1px solid #333;
color:white;

}

.auth-card{

width:300px;
margin:auto;
margin-top:150px;

background:#161618;
padding:30px;
border-radius:15px;

}

.student{

background:#161618;
margin:10px 0;
padding:15px;
border-radius:10px;

}
